<div>
    <h4>Game menu</h4>
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-info" (click)="buyInsurance()">
            Buy new insurance
        </button>
        <button type="button" class="btn btn-info" (click)="travel()">
            Travel
        </button>
        <!--<button type="button" class="btn btn-default" (click)="itemShop()">
            Item shop
        </button>-->
        <button  type="button" class="btn btn-primary" (click)="nextTurn()">
            Next Turn
        </button>
    </div>
</div>